<% include ./layout/top.ejs %>

<div class="breadcrumbs breadcrumb-two-thirds">
    <ol>
        <li><a href="/account/<%= journeyName %>">Home</a></li>
        <li>Defra service</li>
    </ol>
</div>

<div class="grid-row">
    <div class="column-full">
        <% if (!claims) { %>
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

            <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                Sorry, you need to be logged in to access this page
            </h1>

            <p class="govuk-body">
                This page is only available to our logged in users.
            </p>

            <ul class="error-summary-list">
                <li><a href="<%= idm.generateAuthenticationUrl('/account') %>">Click here to log in or create an
                        account</a>
                </li>
            </ul>

        </div>

        <% if (!trulyPrivate) { %>
        <div class="panel panel-border-wide">
            <h3 class="heading-medium">Please note</h3>
            <p class="govuk-body">Although you cannot view the content on this page, you can still access the page
                itself. <a href="/account-private">Click here</a> to go to a page you are not allowed to access at all,
                without being authenticated</p>
        </div>
        <% } %>
        <% } else { %>
        <h1 class="heading-xlarge2">Welcome to <%= journeyName %>!</h1>
        <h3 class="heading-large">You're logged in!</h3>
        <div class="row rowblock">
            <h3>Service: (in <%= journeyName %>)</h3>
            <table class="govuk-table">
                <tr>
                    <th>Organisation</th>
                    <th>Enrolment</th>
                    <th>Status</th>
                    <th>Connection Type</th>
                </tr>
                <%- include partials/services.ejs %>
            </table>
        </div>
        <br>
        <!--
        <div class="row rowblock">
            <h3>Identity:</h3>
            <table class="govuk-table">
                <tr>
                    <th>Account</th>
                    <th>Enrolment</th>
                </tr>
                <%- include partials/identity %>
            </table>
        </div>
        -->
        <div class="row">
            <p class="govuk-body">
                <a href="/enrolment/<%= journey %>">Click here to go to enrolment</a>
            </p>
        </div>

        <div class="row">
            <p class="govuk-body"><a href="#"
                    onclick="document.querySelector('pre').style.display = 'block'; return false;">Full Tokenset
                    &gt;</a></p>
            <pre style="display: none"><%- JSON.stringify(credentials, null, 2) %></pre>
            <label>tokenSet</label>
            <table class="govuk-table">
                <tr><th>id_token</th><td><%= credentials.tokenSet.id_token %></td></tr>
                <tr><th>token_type</th><td><%= credentials.tokenSet.token_type %></td></tr>
                <tr><th>not_before</th><td><%= new Date(credentials.tokenSet.not_before*1000).toISOString() %></td></tr>
                <tr><th>id_token_expires_in</th><td><%= credentials.tokenSet.id_token_expires_in %></td></tr>
                <tr><th>refresh_token_expires_in</th><td><%= credentials.tokenSet.refresh_token_expires_in %></td></tr>
            </table>
            <label>Claims</label>
            <table class="govuk-table">
                <tr><th>exp</th><td></td></tr>
                <tr><th>nbf</th><td></td></tr>
                <tr><th>ver</th><td></td></tr>
                <tr><th>iss</th><td></td></tr>
                <tr><th>sub</th><td></td></tr>
                <tr><th>aud</th><td></td></tr>
                <tr><th>acr</th><td></td></tr>
                <tr><th>iat</th><td></td></tr>
                <tr><th>auth_time</th><td></td></tr>
                <tr><th>email</th><td></td></tr>
                <tr><th>roles</th><td></td></tr>
                <tr><th>roleMappings</th><td></td></tr>
                <tr><th>contactId</th><td></td></tr>
            </table>
        </div>
        <% } %>
    </div>
</div>
<% include ./layout/bottom.ejs %>
