<% include ./layout/top.ejs %>
<script>
function toggle(element) {
  if (element.style.display === 'none') {
      element.style.display = 'block';
  } else {
      element.style.display = 'none';
  }
}
function switchService(element) {
  var service = element.options[element.selectedIndex].value;
  var path = window.location.href.split('/');
  path.splice(path.length - 1, 1);
  path = path.join('/') + '/' + service;
  const redirect = document.getElementById('redirect')
  redirect.href=path;
  redirect.click();
}
</script>
<a id="redirect" href="" style="display:none">Redirect</a>
<div class="breadcrumbs breadcrumb-two-thirds">
    <ol>
        <li>Home</li>
    </ol>
</div>

<div class="grid-row">
    <div class="column-full">
        <% if (!claims) { %>
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

            <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                Sorry, you need to be logged in to access this page
            </h1>

            <p class="govuk-body">
                This page is only available to our logged in users.
            </p>

            <ul class="error-summary-list">
                <li><a href="<%= idm.generateAuthenticationUrl('/account') %>">Click here to log in or create an account</a>
                </li>
            </ul>

        </div>

        <% if (!trulyPrivate) { %>
        <div class="panel panel-border-wide">
            <h3 class="heading-medium">Please note</h3>
            <p class="govuk-body">Although you cannot view the content on this page, you can still access the page
                itself. <a href="/account-private">Click here</a> to go to a page you are not allowed to access at all,
                without being authenticated</p>
        </div>
        <% } %>
        <% } else { %>
        <h1 class="heading-xlarge2">Welcome to <% if (journeyName.indexOf('Service') > -1){%>the<%} %> <%= journeyName %>!</h1>
        <br>
        <div class="row rowblock">
            <h3>Enrolment status: (in <%= journeyName %>)</h3>
            <table class="govuk-table">
                <tr>
                    <th>Organisation</th>
                    <th>Enrolment</th>
                    <th>Status</th>
                    <th>Connection Type</th>
                </tr>
                <%- include partials/services.ejs %>
            </table>
        </div>
        <br>
        <div class="row">
            <table class="govuk-table">
            <tr>
                <td >
                    <a href="/enrolment/<%= journey %>" class="button">Manage enrolments</a>
                    <a href="/status/<%= journey %>" class="button">Manage status</a>
                </td>
                <td class="right">
                    <label for="service-switch">Switch service:</label>
                    <select id="service-switch" onchange="switchService(document.getElementById('service-switch'))" class="service-selector">
                    <%- include partials/journeySelectorOptions.ejs %>
                    </select>
                </td>
            </tr>
            </table>

        </div>
        <br><br><br>
        <div class="row">
            <label>tokenSet:</label>
            <table class="govuk-table">
                <tr style="vertical-align: top"><th>id_token</th><td style="word-break: break-all"><%= credentials.tokenSet.id_token %></td></tr>
                <tr><th>token_type</th><td><%= credentials.tokenSet.token_type %></td></tr>
                <tr><th>not_before</th><td><%= new Date(credentials.tokenSet.not_before*1000).toISOString() %></td></tr>
                <tr><th>id_token_expires_in</th><td><%= credentials.tokenSet.id_token_expires_in %></td></tr>
                <tr><th>refresh_token_expires_in</th><td><%= credentials.tokenSet.refresh_token_expires_in %></td></tr>
            </table>
        </div>
        <br>
        <div class="row">
            <label>Claims:</label>
            <table class="govuk-table">
                <tr><th>exp</th><td><%= new Date(credentials.claims.exp * 1000).toISOString() %></td></tr>
                <tr><th>nbf</th><td><%= new Date(credentials.claims.nbf * 1000).toISOString() %></td></tr>
                <tr><th>ver</th><td><%= credentials.claims.ver %></td></tr>
                <tr><th>iss</th><td><%= credentials.claims.iss %></td></tr>
                <tr><th>sub</th><td><%= credentials.claims.sub %></td></tr>
                <tr><th>aud</th><td><%= credentials.claims.aud %></td></tr>
                <tr><th>acr</th><td><%= credentials.claims.acr %></td></tr>
                <tr><th>iat</th><td><%= new Date(credentials.claims.iat * 1000).toISOString() %></td></tr>
                <tr><th>auth_time</th><td><%= new Date(credentials.claims.auth_time * 1000).toISOString() %></td></tr>
                <tr><th>email</th><td><%= credentials.claims.email %></td></tr>
                <tr><th>roles</th><td><%= credentials.claims.roles %></td></tr>
                <tr><th>roleMappings</th><td><%= credentials.claims.roleMappings %></td></tr>
                <tr><th>contactId</th><td><%= credentials.claims.contactId %></td></tr>
            </table>
        </div>
        <div class="row">
            <p class="govuk-body">
            <a name="rawtoken" href="#rawtoken" onclick="toggle(document.querySelector('pre')); return false;">Raw Tokenset &gt;</a></p>
            <pre style="display: none"><%- JSON.stringify(credentials, null, 2) %></pre>
        </div>
        <% } %>
    </div>
</div>
<% include ./layout/bottom.ejs %>
